name: Release Please

on:
  workflow_dispatch:
    inputs:
      release-type:
        description: "Type of release"
        required: false
        default: "auto"
        type: choice
        options:
          - auto
          - patch
          - minor
          - major
  push:
    branches:
      - test-main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: test-main
          fetch-depth: 0

      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
